.skills {
  background-color: black;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.skills > h2 {
  padding: 10px;
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
  padding-top: 20px;
}

.skills__list > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
  background-color: #282923;
  color: #00d700;
}
